.select2 {
  &-container {
    width: 100% !important;
  }
  .select2-selection {
    line-height: 34px;
    height: 34px;
    &.select2-selection--multiple {
      border: 1px solid $border-color;
      .select2-selection__clear {
        margin-top: 0;
      }
      .select2-selection__choice {
        line-height: 24px;
        margin-top: 3px;
      }
      .select2-search--inline {
        .select2-search__field {
          margin: 0;
          width: auto !important;
        }
      }
    }

    .select2-selection {
      &__rendered {
        line-height: 32px;
      }
      &__arrow {
        height: 32px;
      }
    }
  }
}