<div class="navbar-minimize">
    <a href="#">
        <i class="fa fa-bars"></i>
    </a>
</div>
<ul class="nav navbar-nav navbar-right pr-15">
    <li class="dropdown navbar-profile" data-toggle="tooltip" data-placement="left" data-container="body" data-html="true" title="" data-original-title="Your profile and preferences">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="meta">
                {#<span class="avatar"><img src="/assets/global/img/photo/avatar/1?nc=1497887518" class="img-circle user-avatar-image dimen-35x35 brd-1-gray" alt="Matt's Profile Picture"></span>#}
                <span class="text hidden-xs hidden-sm text-muted">Mr Matt Nunn</span>
                <span class="caret"></span>
            </span>
        </a>
        <!-- Start dropdown menu -->
        <ul class="dropdown-menu animated fadeIn">
            <li class="dropdown-header">Account</li>
            <li><a href="/profile"><i class="fa fa-user"></i>View Profile</a></li>
            <li><a id="fullscreen2" href="#" class="fullscreen"><i class="fa fa-desktop"></i>Fullscreen</a></li>
            <li><a id="logout2" data-url="/logout" href="javascript:void(0);"><i class="fa fa-sign-out"></i>Logout</a></li>
        </ul>
        <!--/ End dropdown menu -->
    </li><!-- /.dropdown navbar-profile -->
    <!--/ End profile -->

    <!-- Start settings -->
    <!--/ End settings -->

</ul>